# Jupyter checkpoints
.ipynb_checkpoints/
*checkpoint.ipynb

# VSCode / virtual docs
.virtual_documents/
.vscode/

# Anaconda/Navigator
anaconda_projects/
*.db

# Python cache
__pycache__/
*.pyc

# Data (ignore big files, keep small samples if needed)
*.csv
data/*.csv
data/*.xlsx
data/*.db
